html { 
  background:url("bg.png") no-repeat center center fixed; 
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
}

/*Responsive Style with Media Queries*/
/*
@media screen and (max-width:767px) { */
	/*Consistent Center spread*/
	/*
	body {
		background-size: 100% 100%;
	}
}

*/